<!DOCTYPE html>
<html lang="en">
  <head>
  <style type="text/css"> 
  html, body {height: 100%} 
</style> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Cover Template for Bootstrap</title>
  </head>
  <body>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '764930830329553',
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <%= nav_bar fixed: :top, brand: "Local Spice", brand_link: activities_path, responsive: true do %>
  <%= menu_group do %>
      <%= menu_item "My account" %>
      <%= menu_divider %>
      <%= menu_item "Info" %>
  <% end %>


  <% end%>

    <div id="map" style="width: 100%; height: 900px;"></div>
      <input type="text" name="get-places" id="get-places">

      <button class="btn btn-primary btn-sml" data-toggle="modal" data-target="#myModalHorizontal">
        New marker form
      </button>

      <!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Make your mark:
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <%= form_for @new_marker do |f| %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <div>
  <%= f.label :info %>
  <%= f.text_field :info %>
  </div>
  
  <div>
  <%= f.label :latitude %>
  <%= f.text_field :lat, class: "lat" %>
  </div>

  <div>
  <%= f.label :longitude %>
  <%= f.text_field :lng, class: "lng" %>
  </div>

            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">              
    <%= f.submit "submit" %>
<% end %>
            </div>
        </div>
    </div>
</div>
 

 <p>Web app by Young Lad</p><br>
  </body>
</html>
<script type="text/javascript">
$(document).ready(function(){
  var mapStyle = [
  {"elementType":"geometry","stylers":[{"hue":"#ff4400"},{"saturation":-68},{"lightness":-4},{"gamma":0.72}]},{"featureType":"road","elementType":"labels.icon"},{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"hue":"#0077ff"},{"gamma":3.1}]},{"featureType":"water","stylers":[{"hue":"#00ccff"},{"gamma":0.44},{"saturation":-33}]},{"featureType":"poi.park","stylers":[{"hue":"#44ff00"},{"saturation":-23}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"hue":"#007fff"},{"gamma":0.77},{"saturation":65},{"lightness":99}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"gamma":0.11},{"weight":5.6},{"saturation":99},{"hue":"#0091ff"},{"lightness":-86}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"lightness":-48},{"hue":"#ff5e00"},{"gamma":1.2},{"saturation":-23}]},{"featureType":"transit","elementType":"labels.text.stroke","stylers":[{"saturation":-64},{"hue":"#ff9100"},{"lightness":16},{"gamma":0.47},{"weight":2.7}]}
];
  var handler = Gmaps.build('Google');
  var map;
  handler.buildMap({ 
    provider: {
      zoom: 15,
      styles:  mapStyle,
      disableDefaultUI: true
    },
    internal: {id: 'map'} },
    function(){
      map = handler.getMap();
  if(navigator.geolocation)
    navigator.geolocation.getCurrentPosition(displayOnMap);
    setupAutocomplete();
    ajaxMarkers();
});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude
  });
  handler.map.centerOn(marker);
};

function setupAutocomplete(){
  var input = $('#get-places')[0];
  var autocomplete = new google.maps.places.Autocomplete(input);
}

  var contentString = "info string"
  map = handler.getMap();

  map.addListener('click', function(e){
  var marker = new google.maps.Marker({
  position: e.latLng,
          map: map,
          draggable:true
        });
    $('.lat').val(marker.getPosition().lat)
    $('.lng').val(marker.getPosition().lng)
  marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

  var infowindow = new google.maps.InfoWindow({
          content: contentString
    });

  google.maps.event.addListener(marker, 'dragend', function (evt) {
  $('.lat').val(evt.latLng.lat()), $('.lng').val(evt.latLng.lng())
  });
  google.maps.event.addListener(marker, 'dragstart', function (evt) {
    console.log("draggin markah")
  });
});

function ajaxMarkers(){
  $.ajax({
    url: `/custom_route`,
    success: loadMarkers,
    error: console.log('you made an error')
  });
}


function loadMarkers(response){
  var markerArray = response;
  var anotherArray = []
  console.log(markerArray);
 for (var i = 0; i < markerArray.length; i++ ) {
        let lat = Number(markerArray[i].lat);
        let lng = Number(markerArray[i].lng);
        let coords = {lat: lat, lng: lng}
        let info = markerArray[i].info
        console.log(info)
        let marker = new google.maps.Marker({
            position: coords,
            map: map,
            title: info
        }); 
        anotherArray.push(marker);
         let infowindow = new google.maps.InfoWindow({
            content: marker.title
         });
        marker.addListener('click', function(event) {
          infowindow.open(map, marker);
        });
}

}

});
</script>