<ul><center>
	<% @concert_today.each do |concert| %>
		<h3> <%= concert.artist %></h3>
		<p><%= concert.city %> </p>
	<% end %>
</center></ul>

<div id="mySidenav" class="sidenav">
	<% @concert_month.each do |concert| %>
		<h3> <%= concert.artist %></h3>
		<p><%= concert.city %> </p>

	<a href="/concerts/<%=concert.id%>/">More info</a>
	<% end %>
<div>

<center><%= link_to("Announce a new concert", new_concert_path)%></center>